doctype
html
	head
		title= "Real time web chat"
		script(src='http://10.4.1.195:3700/node/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
		.controls
		| Name:
		input#name(style='width:150px;')
		br
		input#field(style='width:350px;')
		input#send(type='button', value='send')